<%- include('partials/header') %>

  <style>
    .shadow-textarea textarea.form-control::placeholder {
      font-weight: 300;
    }

    .shadow-textarea textarea.form-control {
      padding-left: 0.8rem;
    }
  </style>


  <div class="jumbotron text-center">
    <div class="container">





      <header class="p-3 text-bg-dark">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
              <i class="fas fa-key fa-6x"></i>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <!-- <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li> -->
              <li><a class="btn btn-dark btn-lg" href="/submit" role="button">Create</a></li>
              <li><a class="btn btn-dark btn-lg" href="/blogs" role="button">Blogs</a></li>
              <li><a class="btn btn-dark btn-lg" href="/profile" role="button">Profile</a></li>
              <li><a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" action="/profile" method="post">
              <div class="row">
                <div class="col-md-6 themed-grid-col"> <input type="search" name="mail"
                    class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
                </div>
                <div class="col-md-6 themed-grid-col"> <button class="btn btn-primary" type="submit" name="button">Search</button>
                </div>
              </div>
            </form>

          </div>
        </div>
      </header>
      <%foundBlogs.forEach(function(blog){%>

        <table class="table table-bordered  ">
            
            <tbody>
              <tr>
                <td><%=blog.username%></td>
                <td><%=blog.Title%></td>
                <td><%=blog.Message%></td>
                <td><%=blog.PostTime%></td>
              </tr>
            </tbody>
          </table>

    <%})%>
    </div>
  </div>

  <%- include('partials/footer') %>